<!-- app/views/orders/index.html.erb -->
<h1>Orders</h1>
<%= link_to 'Create New Order', new_order_path, class: "btn btn-primary mb-3" %>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">User</th>
      <th scope="col">Status</th>
      <th scope="col">Total Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order_path(order) %></td>
        <td><%= order.user.name %></td>
        <td><%= order.status %></td>
        <td><%= number_to_currency(order.total_price, unit: "¥", separator: ".", delimiter: ",", precision: 0) %></td>
        <td>
          <%= link_to 'Edit', edit_order_path(order), class: "btn btn-warning btn-sm" %>
          <%= link_to 'Delete', order_path(order), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>
